<link rel="stylesheet" href="css/upImg.css">
<div class="content">
    <div class="module">
        <div class="module-head">
            <h3>BUG追踪</h3>
        </div>
        <div class="module-body" id="bugform">
            <br />
            <form class="form-horizontal row-fluid">
                <div class="control-group">
                    <label class="control-label" >BUG标题</label>
                    <div class="controls">
                        <input type="text"  placeholder="简单描述bug" class="span8" v-model="bugTitle">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">BUG描述</label>
                    <div class="controls">
                        <textarea class="span8" rows="5" v-model="bugDesc"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >BUG创建者</label>
                    <div class="controls">
                        <input type="text" class="span8" disabled v-model="userName">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >优先级</label>
                    <div class="controls">
                        <div class="dropdown">
                            <a class="dropdown-toggle btn" data-toggle="dropdown" href="#">一般 <i class="icon-caret-down"></i></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <li><a href="#">紧急</a></li>
                                <li><a href="#">重要</a></li>
                                <li><a href="#">一般</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >分配给</label>
                    <div class="controls">
                        <select tabindex="1" data-placeholder="Select here.." class="span8" id="distribution">
                            <option value="">吴晶晶</option>
                            <option value="1">郝彦博</option>
                            <option value="2">田琦</option>
                            <option value="3">单雷静</option>
                            <option value="4">赵赫冰</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">BUG类型</label>
                    <div class="controls" id="bugType">
                        <label class="checkbox inline">
                            <input type="checkbox" value="">
                            接口
                        </label>
                        <label class="checkbox inline">
                            <input type="checkbox" value="">
                            页面
                        </label>
                        <label class="checkbox inline">
                            <input type="checkbox" value="">
                            需求
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >BUG状态</label>
                    <div class="controls">
                        <select tabindex="1" data-placeholder="待确认" class="span8" id="bugStatus">
                            <option value="1">待确认</option>
                            <option value="2">解决中</option>
                            <option value="3">已解决</option>
                            <option value="4">待测试</option>
                            <option value="5">测试通过</option>
                            <option value="6">测试失败</option>
                            <option value="7">已修复</option>
                            <option value="8">已关闭</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <form id="upBox">
                        <div id="inputBox">
                            <input type="file" title="请选择图片" id="file" multiple accept="image/png,image/jpg,image/gif,image/JPEG" class="btn btn-large btn-primary"/>选择图片</div>
                        <div id="imgBox"></div>
                    </form>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <a class="btn btn-large btn-primary" id="bugAddCommit">提交</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="utilJs/uploadImg.js"></script>
<script src="./js/bugform.js"></script>
<script>
    imgUpload({
        inputId:'file', //input框id
        imgBox:'imgBox', //图片容器id
        buttonId:'btn', //提交按钮id
        upUrl:'/uploadimg',  //提交地址
        data:'files', //参数名
        num:"5"//上传个数
    })
</script>