<link rel="stylesheet" href="css/upImg.css">
<div class="content">
    <div class="module">
        <div class="module-head">
            <h3>BUG追踪</h3>
        </div>
        <div class="module-body" id="bugEditApp">

            <!--<div class="alert">-->
                <!--<button type="button" class="close" data-dismiss="alert">×</button>-->
                <!--<strong>Warning!</strong> Something fishy here!-->
            <!--</div>-->
            <!--<div class="alert alert-error">-->
                <!--<button type="button" class="close" data-dismiss="alert">×</button>-->
                <!--<strong>Oh snap!</strong> Whats wrong with you?-->
            <!--</div>-->
            <!--<div class="alert alert-success">-->
                <!--<button type="button" class="close" data-dismiss="alert">×</button>-->
                <!--<strong>Well done!</strong> Now you are listening me :)-->
            <!--</div>-->

            <br />

            <form class="form-horizontal row-fluid">
                <div class="control-group">
                    <label class="control-label" >BUG标题</label>
                    <div class="controls">
                        <input type="text"  placeholder="简单描述bug" class="span8" v-model="bugInfo.bugTitle">
                        <!--<span class="help-inline">将在bug页面直接展示</span>-->
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >BUG描述</label>
                    <div class="controls">
                        <textarea class="span8" rows="5" v-model="bugInfo.bugDesc"></textarea>
                    </div>
                </div>

                <div class = "container">
                    <img src = "http://127.0.0.1:8091/images/gz.jpg" class="img-thumbnail" >
                    <img src = "http://127.0.0.1:8091/images/gz.jpg" class="img-thumbnail" >
                    <img src = "http://127.0.0.1:8091/images/gz.jpg" class="img-thumbnail" >
                </div>

                <div class="control-group">
                    <label class="control-label" >BUG创建者</label>
                    <div class="controls">
                        <input type="text"  placeholder="孙楠楠" class="span8" disabled >
                    </div>
                </div>


                <div class="control-group">
                    <label class="control-label" >优先级</label>
                    <div class="controls">
                        <div class="dropdown">
                            <a class="dropdown-toggle btn" data-toggle="dropdown"  id="yxjShow">一般 ></i></a>
                            <!--<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">-->
                                <!--<li><a href="#" class="yxjchoose">紧急</a></li>-->
                                <!--<li><a href="#" class="yxjchoose">重要</a></li>-->
                                <!--<li><a href="#" class="yxjchoose">一般</a></li>-->
                            <!--</ul>-->
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" >分配给</label>
                    <div class="controls">
                        <select tabindex="1" data-placeholder="Select here.." class="span8">
                            <option value="">吴晶晶</option>
                            <option value="1">郝彦博</option>
                            <option value="2">田琦</option>
                            <option value="3">单雷静</option>
                            <option value="4">赵赫冰</option>
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">BUG类型</label>
                    <div class="controls">
                        <label class="checkbox inline">
                            <a href="javascript:" class="checkbox-a" id="bugtypeJK">

                            </a>
                            <span class="checkbox-word">接口</span>
                        </label>
                        <label class="checkbox inline">
                            <a href="javascript:" class="checkbox-a" id="bugtypeYM">

                            </a>
                            <span class="checkbox-word">页面</span>
                        </label>
                        <label class="checkbox inline">
                            <a href="javascript:" class="checkbox-a" id="bugtypeXQ">

                            </a>
                            <span class="checkbox-word">需求</span>
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" >BUG状态</label>
                    <div class="controls">
                        <select tabindex="1" data-placeholder="待确认" class="span8" id="bugstatselect">
                            <option value="1">待确认</option>
                            <option value="2">解决中</option>
                            <option value="3">已解决</option>
                            <option value="4">待测试</option>
                            <option value="5">测试通过</option>
                            <option value="6">测试失败</option>
                            <option value="7">已修复</option>
                            <option value="8">已关闭</option>
                        </select>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <a class="btn btn-large btn-primary" >提交</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div><!--/.content-->
<script src="js/cross.js"></script>
<script src="js/dataEx.js"></script>
<script src="js/bugEdit.js"></script>
